.overall-cycle-container{

	clear:both;
	margin: 8px auto;

}

.cycleContainer {

	overflow: hidden;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #EEE;
	border:1px solid #d6d6d6;
	border-radius: 6px;
	padding-bottom: 40px;
	height: 380px;
	float: left;
	width: 100%;

}

.cycleContainer img {

	width: 100%!important;
	margin: 0 auto;
	max-width: 100%;

}

#cycle-nav { 

	margin: 0;
	width: 63.63636%;
	padding: 0;
	float: left;

}
#cycle-nav li { width: 58px; float: left; margin: 8px 4px; list-style: none; }
#cycle-nav a { 

	width: 50px; padding: 3px; display: block; border: 1px solid #ccc; 
	background-color: white;
	
}
#cycle-nav li.active a { background: #88f }
#cycle-nav li img { opacity:0.4; filter:alpha(opacity=40); }
#cycle-nav li.active img { opacity:1; filter:alpha(opacity=100); }

#cycle-nav a:focus { outline: none; border-color: #F89406; }
#cycle-nav img { border: none; display: block }

.arrow-e, .arrow-w {

  /*
   * In Internet Explorer, The"border-style: dashed" will never be
   * rendered unless "(width * 5) >= border-width" is true.
   * Since "width" is set to "0", the "dashed-border" remains
   * invisible to the user, which renders the border just like how
   * "border-color: transparent" renders.
   * From: http://hedgerwow.appspot.com/demo/arrows
   */
  border-style: dashed;
  border-color: transparent;
  border-width: 0.53em;
  display: -moz-inline-box;
  display: inline-block;
  /* Use font-size to control the size of the arrow. */
  font-size: 2.5em;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;

}
.arrow-e{
  border-left-width: 1em;
  border-left-style: solid;
  border-left-color: #666;
  left: 0.25em;
}
.arrow-w {
  border-right-width: 1em;
  border-right-style: solid;
  border-right-color: #666;
  right: 0.25em;
}

.nav-container {

	width: 100%;
}

.cyclenav {

	margin-top: 8px;
	display:block;

}

.cyclenav.next, .sliderNext {

	float:right;
	width: 18.18182%;
	text-align: right;

}

.cyclenav.prev, .sliderPrev {

	float:left;
	width: 18.18182%;
	text-align: left;

}

.disappear { 

	display:none!important;

}

.hidden {

	visibility: hidden;
	
}

.scrollable {
  /* required settings */
  position:relative;
  overflow:hidden;
  width: 100%;
  max-width: 800px;
  height:60px;
}

.scrollable .items {
  /* this cannot be too large */
  position:absolute;
}
 
/*
a single item. must be floated in horizontal scrolling.  typically,
this element is the one that *you* will style the most.
*/
.item {
  float:left;
}

.exif-data {
/* this will need to be adjusted once we get image sizing right */
	position:absolute;
	top: 10px;
	left: 10px;
	z-index: 1000;

}

#fullbox {

	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
	text-align: center;

}

#fullbox .contained {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width:96%;
}

.slider-social-box {

	margin-top: -300px;

}

.slider-social-box .pin {

	width: 43px!important;
	height: 20px;

}